<div class="grid">
  <div class="grid-box container">
    <div class="grid-item">
      <a href="#" class="grid-item-box" style="background-image: url(/img/sample/ja_8-1.jpg);">
        <div class="grid-item-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, odio.</p>
          <h3 class="title">Academy</h3>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <a href="#" class="grid-item-box" style="background-image: url(/img/sample/ja_7-1.jpg);">
        <div class="grid-item-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, odio.</p>
          <h3 class="title">Documentation</h3>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <a href="#" class="grid-item-box" style="background-image: url(/img/sample/ja_6-1.jpg);">
        <div class="grid-item-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, odio.</p>
          <h3 class="title">Knowledge Base</h3>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <a href="#" class="grid-item-box" style="background-image: url(/img/sample/ja_5-1.jpg);">
        <div class="grid-item-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, odio.</p>
          <h3 class="title">Forum</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="grid-box container">
    <div class="grid-item">
      <a href="#" class="grid-item-box" style="background-image: url(/img/sample/ja_8-1.jpg);">
        <div class="grid-item-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, odio.</p>
          <h3 class="title">Training</h3>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <a href="#" class="grid-item-box" style="background-image: url(/img/sample/ja_7-1.jpg);">
        <div class="grid-item-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, odio.</p>
          <h3 class="title">Download</h3>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <a href="#" class="grid-item-box" style="background-image: url(/img/sample/ja_6-1.jpg);">
        <div class="grid-item-content">
          <p>Lorem ipsum dolor sit amet, consectetur elit. Eum, odio.</p>
          <h3 class="title">Support</h3>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <a href="#" class="grid-item-box" style="background-image: url(/img/sample/ja_5-1.jpg);">
        <div class="grid-item-content">
          <p>Lorem ipsum dolor sit amet, consectetur </p>
          <h3 class="title">Academy</h3>
        </div>
      </a>
    </div>
  </div>

  <div class="grid-box container">
    <div class="grid-item grid-item-medium">
      <div class="grid-item-box">
        <div class="grid-item-content news-slider-box">
          <h2 class="news-slider-title">Latest news</h2>
          <div class="news-slider-container">
            <div class="news-slider" id="news">
              {% for post in site.posts %}
              <!-- repeat this for each post, replace image path -->
              <div class="news-slide" style="background-image: url({{ post.image }});">
                <p class="news-date"><i class="glyphicon glyphicon-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}</p>
                <a href="{{ post.url }}" class="news-description">{{ post.title }}</a>
              </div>
              <!-- ./end post-->
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="grid-item grid-item-medium">
      <div class="grid-item-box grid-item-box-no-fade widget-twitter">
        <div class="grid-item-content">
          <div class="widget-twitter-box">

            <div class="widget-twitter-header clearfix">
              <img src="/img/icon-twitter.png" alt="jahia twitter" class="logo"/>
              <a href="#" class="btn btn-danger pull-right">Follow</a>
            </div>
            <div class="widget-twitter-content">
              <div class="list-group list-group-tweets">
                <div class="list-group-item">
                  <h4 class="list-group-item-heading">@Jahia_academy</h4>
                  <p class="list-group-item-text">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily. <a href="http://twitter/">#Quote</a></p>
                </div>
                <div class="list-group-item">
                  <h4 class="list-group-item-heading">@Jahia_academy</h4>
                  <p class="list-group-item-text">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily. <a href="http://twitter/">#Quote</a></p>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-6 col-xs-offset-3">
                    <button class="btn btn-danger btn-lg btn-block">Load more</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
