<div class="row">
  <div class="col-xs-7">
    <div class="well well-primary well-sm">
      <p>This Documentation is related to <strong>Digital Factory 7</strong></p>
      <p>The same article is available for <strong>Digital Factory 6, Digital Factory 5</strong></p>
    </div>
  </div>
  <div class="col-xs-5">
    <ul class="nav nav-labels pull-right">
      <li><a href="#" class="link-info">De</a></li>
      <li><a href="#" class="link-default">Sy</a></li>
      <li><a href="#" class="link-success">Au</a></li>
      <li><a href="#" class="link-warning">Pm</a></li>
    </ul>
  </div>
</div>
