<div class="showcase">
  <div class="showcase-box">
    <div class="showcase-content container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h1 class="title">jahia academy</h1>
          <h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </h2>
          <p class="text-center">
            <a href="#" class="btn btn-danger btn-lg btn-rounded">Take a tour</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
