<div class="sidebar" style="min-height: 1000px;">
  <aside class="widget widget-mark">
    <div class="widget-box">
      <h3><i class="glyphicon glyphicon-file"></i> Lorem ipsum dolor.</h3>
      <div class="widget-content">
        <ul class="nav">
          <li><a href="#">Link goes here</a></li>
          <li><a href="#">Link goes here</a></li>
          <li><a href="#">Link goes here</a></li>
        </ul>
      </div>
    </div>
  </aside>
  <aside class="widget">
    <div class="widget-box">
      <div class="text-center">
        <a href="#" download="jahia.pdf" class="download-file-link-box">
          <img src="/img/icon-pdf.png" alt="Download Jahia"/>
          <span>Download this file</span>
        </a>
      </div>
    </div>
  </aside>
  <aside class="widget">
    <div class="widget-box">
      <form class="navbar-form form-subscribing">
        <p><label for="subscriber-email">Subscribing</label></p>
        <div class="form-group">
          <input type="text" class="form-control" id="subscriber-email" required placeholder="Your e-mail">
        </div>
        <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-menu-right"></i></button>
      </form>
    </div>
  </aside>
</div>
